@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*{
  
text-decoration: none;
list-style: none;

} 
:root{
    --blue:#2196F3;
    --black:#212121;
}
body{
font-family:'Roboto', sans-serif;
 background-color:white;
 color: #000;
}

.logo-blue{
    color:var(--blue);
text-align: right;
font-family: 'Raleway';
font-size: 26px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
cursor: pointer;
}
.link{
    color:#212121;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.17em;
letter-spacing: 0.02em;
text-align: left;
cursor: pointer;
}
.link:hover{
    color: var(--blue);
}
.header-email{
    font-family: 'Roboto', sans-serif;
    color: #757575;
font-size: 14px;
font-style:normal;
font-weight: 500;
line-height:1.17em;
letter-spacing: 0.03em;
   cursor: pointer;
}
.header-email:hover{
color:var(--blue);
}
.header-tel {
    
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height:1.17em;
    letter-spacing: 0.03px;
    cursor: pointer; 
}
.header-tel:hover {
    color: var(--blue);
}

.hero-btn{
    background-color: var(--blue);
    color:#ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.18em;
    font-family:'Roboto', sans-serif;
font-weight: 700;
letter-spacing: 0.06em;
padding:10px 20px;
border-radius: 4px;

}
.hero-title{
    font-family:'Roboto', sans-serif;
    color: #ffffff;
    line-height:1.3em;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    text-align: center;


}

.politicas-title{
    color: #212121;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height:1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.politicas-text{
    color: #757575;
font-family:'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71em;
letter-spacing: 0.03em;
text-align: justify;
  }
.diseño-title{
    color: #212121;
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:1.17em;
    letter-spacing: 0.03em;
}
.diseño-block{
    width: 373.16px;
line-height:1.15em;


}
.equipo-title{
    color: #212121;
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:1.17em;
    letter-spacing:0.03em;
}
.equipo-name{
    color: #212121;
    font-family:'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:1.17em;
letter-spacing: 0.03em;
}
.equipo-sub-title{
    color: #757575;
    font-family:'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.17em;
letter-spacing: 0.03em;
}
.hero-triton{
    background:#2F303A ;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
font-size:16px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
}


.headr-button{
    color: #212121;
    font-family: 'Roboto', sans-serif;
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: 1.6em; 
width: 98;
height: 26;
}
.button-chang:hover{
    background: var(--blue);
   cursor: pointer;
}
.button-chang:focus{
    background:  var(--blue);
    color: #ffffff;
    cursor: pointer;
}
.team-diseño{
    color: #212121;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 0.06em;  
}
.team-profec{
color: #757575;
font-family:'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.8em;
letter-spacing: 0.4;
}


/*     estilos del header menu principal web studio */
.container{
    
width:1200px;
padding:0 15px;
margin: 0 auto;
}

.navigation__container{
    display: flex;
    justify-content: space-between;
}

.hero__navegation{
    display: flex;
    column-gap: 80px;
    justify-content: center;
    align-content: center;
   /* padding: 25px; */
}

.hero__contact{
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.pv-main{
    padding: 5px 0;
}
p-0{
    padding: 0px;
}
.list{
    list-style: none;
}

.link{
    text-decoration: none
}
.header-menu.current{
color:var(--blue);
}

/* ------segunda seccion titulo-------------------------------------------------------*/
.hero{
    background-color: var(--black) ;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    line-height: 1.8em;
font-size:16px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
}
.section{
    padding-bottom: 94px;
    padding-top: 94px;
}
.title_container{
    display: flex;
    flex-direction: column;
    width:800px;
    align-items: center;
}
/*---------tercera seccion productos----------*/

.about__galery{
    display: flex;
    gap: 40px;

}







